body{
    text-align: center;
    background-image:linear-gradient(rgb(75, 227, 20),rgb(231, 225, 229));

}
#button{
    font-size:10px;
    background-color:rgb(55, 81, 209);
}
#button{
    cursor:pointer;
}
#joke,#jokecontainer{
    padding:20px;
    font-size:20px;
}
